.Footer {
  overflow: hidden;
  padding: 1rem;
  background-color: rgb(32, 35, 41);
  color: rgb(158, 158, 158);
  font-size: 1.5rem;

  .stats {
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    p {
      padding: 1rem;
      margin: 0.4rem;
    }
  }

  .acknowledgment {
    text-align: center;
    a {
      display: inline-block;
      border-bottom: 0.1rem solid rgb(255, 152, 0);
      color: rgb(245, 245, 245);

      font-weight: 600;
      text-decoration: none;
      transition: 0.2s ease 0s;

      &:hover {
        border-bottom: 0.1rem solid rgb(245, 245, 245);
        color: rgb(255, 152, 0);
      }
    }
  }
}

.showcase{
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1260px;
    min-height: 40vh;
    background-color: rgb(32, 35, 41);
    padding: 1.5rem;
}

